@import '_shared.scss';

$max-width: 1024px;
$min-width: 768px;
$mob-width: 480px;

.punxy {
  max-width: $max-width;
  margin: 0 auto;
}

.punxy__navi,
.punxy__mast,
.punxy__feed,
.punxy__header {
  padding: 32px;

  @media (max-width: $min-width) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.punxy__navi,
.punxy__mast {
  @media (max-width: $min-width) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.punxy__navi,
.punxy__ctrl {
  ul,
  li {
    display: inline-block;
  }
}

/******************************************************************************
 * <Header />
*******************************************************************************/
.punxy__header {
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.punxy__logo {
  display: block;

  svg {
    height: 32px;
    width: auto;

    @media (max-width: $min-width) {
      height: 24px;
    }

    .is-jobs & {
      fill: $white;
    }

    .is-wtf & {
      fill: $purple;
    }
  }
}

/******************************************************************************
 * <Navi />
*******************************************************************************/
.punxy__navi {
  font-size: 18px;
  line-height: 2.3333333333;
  margin-top: 32px;
}

.punxy__link {
  &.is-active {
    font-family: $font-monospace-bold;
  }
}

/******************************************************************************
 * <Masthead />
*******************************************************************************/
.punxy__mast {
  font-size: 24px;
  line-height: 1.75;

  @media (max-width: $mob-width) {
    font-size: 21px;
  }
  
  h1 {
    max-width: 570px;
  }

  a {
    font-family: $font-monospace-bold;
  }
}

/******************************************************************************
 * <Feed>...</Feed>
*******************************************************************************/
.punxy__ctrl,
.punxy__meta,
.punxy__load {
  line-height: 3;
}

.punxy__ctrl {
  background-color: rgba(255, 255, 255, 0.9);
  position: sticky;
  padding: 32px 0;
  top: 0;
  z-index: 1;

  @media (max-width: $min-width) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .is-jobs & {
    background-color: rgba(0, 0, 0, 0.9);
  }

  ul {
    display: flex;
  }

  li {
    cursor: pointer;
  }

  li.is-active {
    font-family: $font-monospace-bold;
  }

  // Anchors `Seed` UI to the right of Controls
  li:last-child {
    margin-left: auto;
  }
}

.punxy__seed {
  background-color: transparent;
  cursor: pointer;

  .is-jobs & {
    color: $green;
  }
}

.punxy__btn {
  background-color: $black;
  color: $white;
  font-family: $font-monospace-bold;
  padding: 16px;
  cursor: pointer;
  margin-bottom: 32px;

  .is-jobs & {
    background-color: $white;
    color: $black;
  }
}

.punxy__btns {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    margin: 0 16px;
  }

  button {
    margin-bottom: 0;
  }
}

.punxy__list,
.punxy__load {
  padding: 32px 0;
}

.punxy__item {
  padding: 32px 0;

  @media (max-width: $mob-width) {
    padding: 16px 0;
  }
}

.punxy__wtf {
  padding: 32px;

  @media (max-width: $min-width) {
    padding-left: 16px;
    padding-right: 16px;
  }

  p + p {
    margin-top: 64px;
  }
}

.punxy__list,
.punxy__feed {
  padding-top: 0;
}

.punxy__attr,
.punxy__load div {
  display: inline-block;
}

.punxy__title {
  font-size: 18px;
  line-height: 2;
  font-family: $font-monospace-bold;
  text-transform: lowercase;

  @media (max-width: $mob-width) {
    font-size: 16px;
  }
}

.punxy__modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 111001001;

  .is-jobs & {
    background-color: rgba(0, 0, 0, 0.9);
    color: $white;
  }

  .punxy__mast {
    padding-left: 0;
    padding-right: 0;
  }

  .punxy__modal__wrap {
    max-width: $max-width;
    padding: 32px;
    background-color: $white;
    text-align: center;

    .is-jobs & {
      background-color: $black;
    }
  }
}