@import '_shared.scss';

.punxy {
  max-width: 1024px;
  margin: 0 auto;
}

.punxy__navi,
.punxy__mast,
.punxy__feed,
.punxy__header {
  padding: 32px;
}

.punxy__navi,
.punxy__ctrl {
  ul,
  li {
    display: inline-block;
  }
}

/******************************************************************************
 * <Header />
*******************************************************************************/
.punxy__header {
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.punxy__logo {
  display: block;

  svg {
    height: 32px;
    width: auto;

    .is-jobs & {
      fill: $white;
    }
  }
}

/******************************************************************************
 * <Navi />
*******************************************************************************/
.punxy__navi {
  font-size: 18px;
  line-height: 2.3333333333;
  margin-top: 32px;
}

.punxy__link {
  &.is-active {
    font-family: $font-monospace-bold;
  }
}

/******************************************************************************
 * <Masthead />
*******************************************************************************/
.punxy__mast {
  font-size: 24px;
  line-height: 1.75;
  
  h1 {
    max-width: 570px;
  }

  a {
    font-family: $font-monospace-bold;
  }
}

/******************************************************************************
 * <Feed>...</Feed>
*******************************************************************************/
.punxy__ctrl,
.punxy__meta,
.punxy__load {
  line-height: 3;
}

.punxy__ctrl {
  background-color: rgba(255, 255, 255, 0.9);
  position: sticky;
  top: 0;
  z-index: 1;

  .is-jobs & {
    background-color: rgba(0, 0, 0, 0.9);
  }

  li {
    cursor: pointer;
  }

  li.is-active {
    font-family: $font-monospace-bold;
  }
}

.punxy__btn {
  appearance: none;
  border: 0;
  outline: 0;
  background-color: $black;
  color: $white;
  font-family: $font-monospace-bold;
  font-size: 14px;
  line-height: 1;
  padding: 16px;
  cursor: pointer;
  margin-bottom: 32px;

  .is-jobs & {
    background-color: $white;
    color: $black;
  }
}

.punxy__list,
.punxy__item,
.punxy__ctrl,
.punxy__load {
  padding: 32px 0;
}

.punxy__list,
.punxy__feed {
  padding-top: 0;
}

.punxy__attr,
.punxy__load div {
  display: inline-block;
}

.punxy__title {
  font-size: 18px;
  line-height: 2;
  font-family: $font-monospace-bold;
}